.chart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title */
.chart-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #30364f;
  text-align: center;
}

/* Chart Wrapper */
.chart-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
