/* Add your global styles here */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Google Sans Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
